{% macro enchantTable(id, title, dataSource) %}
<h3 id="{{id}}">{{title}}</h3>
<table class="enchant">
  <thead>
    <tr>
      <th>Effect Name</th>
      <th><img src="../images/kyle.jpg" alt="Ky"></th>
      <th><img src="../images/roni.jpg" alt="Lo"></th>
      <th><img src="../images/judasu.jpg" alt="Ju"></th>
      <th><img src="../images/reala.jpg" alt="Re"></th>
      <th><img src="../images/nanali.jpg" alt="Na"></th>
      <th><img src="../images/harold.jpg" alt="Ha"></th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    {% for enchant in dataSource %}
      <tr>
        <td>
          {{enchant["Effect Name"]}}<br>
          "{{enchant["Effect Name TL"]}}"
        </td>
        <td>{{enchant.Kyle}}</td>
        <td>{{enchant.Loni}}</td>
        <td>{{enchant.Judas}}</td>
        <td>{{enchant.Reala}}</td>
        <td>{{enchant.Nanaly}}</td>
        <td>{{enchant.Harold}}</td>
        {# <td>{{enchant["Summary"]}}</td> #}
        <td>{{enchant["Summary TL"] | markdown | safe }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro %}