{% macro enchantTable(id, title, dataSource) %}
<h3 id="{{id}}">{{title}}</h3>
<table class="enchant">
  <tbody>
    <tr>
      <th>Effect Name</th>
      <th>Ky</th>
      <th>Lo</th>
      <th>Ju</th>
      <th>Re</th>
      <th>Na</th>
      <th>Ha</th>
      <th>Summary</th>
    </tr>
    {% for enchant in dataSource %}
      <tr>
        <td>
          {{enchant["Effect Name"]}}<br>
          "{{enchant["Effect Name TL"]}}"
        </td>
        <td>{{enchant.Kyle}}</td>
        <td>{{enchant.Loni}}</td>
        <td>{{enchant.Judas}}</td>
        <td>{{enchant.Reala}}</td>
        <td>{{enchant.Nanaly}}</td>
        <td>{{enchant.Harold}}</td>
        {# <td>{{enchant["Summary"]}}</td> #}
      <td>{{enchant["Summary TL"]}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro %}