<nav>
    <ul>
        <li> <a href="/">Home</a> </li>
        {% for page in collections.subpage%}
        <li> <a href="{{page.url}}">{{page.data.title}}</a> </li>
        {%endfor%}
    </ul>
</nav>