---
title: 'Graces artes'
layout: layout
tags: arteList
---
{% from 'graces-artes-macro.njk' import gracesArtesTable as arteTable %}
<h2 id="asbel">Asbel</h2>
{{ arteTable('asbel', graces.asbel) }}

<h2 id="sophie">Sophie</h2>
{{ arteTable('sophie', graces.sophie) }}

<h2 id="cheria">Cheria</h2>
{{ arteTable('cheria', graces.cheria) }}

<h2 id="malik">Malik</h2>
<p><b>Bold</b> attributes require Charge Plus</p>
{{ arteTable('malik', graces.malik) }}

<h2 id="hubert">Hubert</h2>
{{ arteTable('rubert', graces.hubert) }}

<h2 id="pascal">Pascal</h2>
<p><b>Bold</b> attributes require Charge Plus</p>
{{ arteTable('pascal', graces.pascal) }}

<h2 id="Richard">richard</h2>
{{ arteTable('richard', graces.richard) }}