body {
    margin: 0 auto;
    max-width: 80rem;
    color: #fbfbfb;
    background-color: #1f1f1f;
}

main {
    margin: 0 1em;
}

a {
    color: #a4cefe;
}
a:visited {
    color: #d8b8ff;
}

/* grid layout */
@media (min-width: 1000px) {
    .grid {
        display: grid;
        grid-template-columns: 4fr 1fr;
        column-gap: 1em;
    }
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 2px solid #707070;
    border-radius: 10px;
    margin: 0 0 5em;
}
tr:first-child {
    background-color: #2e2e2e;
    position: sticky;
    top: 0;
}
td, th {
    border: 1px solid #727272;
    padding: 0.2rem;
}
tr:nth-child(2n) {
    background-color: #2e2e2e;
}

.enchant th:first-child {
    min-width: 8rem;
}
.enchant th:last-child {
    text-align: left;
}

/*toc*/
.toc {
    position: sticky;
    top: 1em;
    border: 2px solid #707070;
}
.toc ol {
    margin: 0;
    padding: 5px 20px 5px 40px;
}

/*artes table*/
.graces-artes th:first-child {
    width: 8em;
}
.graces-artes th:last-child {
    min-width: 5em;
}
.graces-artes tr[class="odd"] {
    background-color: inherit;
}
.graces-artes tr[class="even"] {
    background-color: #2e2e2e;
}

.content-body {
    grid-column: 1 / 2;
    grid-row: 1;
}
.content-toc {
    grid-column: 2 / 3;
    grid-row: 1;
}