---
title: Tales of data tables
layout: layout.njk
---
<h1>Destiny 2</h1>
<ul>
    <li><a href="/destiny-2/enchant-artes">Destiny 2 Enchants</a></li>
    <li><a href="/graces/graces-artes">Graces Artes</a></li>
</ul>