---
title: Tales of data tables
layout: layout.njk
---
<h1>Destiny 2</h1>
<ul>
    {% for list in collections['Destiny 2'] %}
    <li><a href="{{list.url}}">{{list.data.title}}</a></li>
    {% endfor %}
    <li><a href="/graces/graces-artes">graces</a></li>
</ul>