body {
    margin: 0 10vw;
    color: #fbfbfb;
    background-color: #1f1f1f;
}
a {
    color: #a4cefe;
}
a:visited {
    color: #d8b8ff;
}

/* grid layout */
main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 1em;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 2px solid #707070;
    border-radius: 10px;
    margin: 0 0 5em;
}
td, th {
    border: 1px solid #727272;
}
tr:nth-child(2n) {
    background-color: #2e2e2e;
}

/* enchant table */
.enchant {
    max-width: 60vw;
}
.enchant th, .enchant td {
    padding: 0.2rem;
}
.enchant th:first-child {
    min-width: 8rem;
}
.enchant th:last-child {
    text-align: left;
}

/*toc*/
.toc {
    position: sticky;
    top: 1em;
    border: 2px solid #707070;
    width: fit-content;
}
.toc ol {
    margin: 0;
    padding: 5px 20px 5px 40px;
}